In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
sns.set_style('whitegrid')

In [5]:
# loading only a section of train data for analysis part
df_train=pd.read_csv(r'new-york-city-taxi-fare-prediction/train.csv',nrows=2000,parse_dates=["pickup_datetime"])
df_train.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21+00:00,-73.844311,40.721319,-73.841610,40.712278,1
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16+00:00,-74.016048,40.711303,-73.979268,40.782004,1
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00+00:00,-73.982738,40.761270,-73.991242,40.750562,2
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42+00:00,-73.987130,40.733143,-73.991567,40.758092,1
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00+00:00,-73.968095,40.768008,-73.956655,40.783762,1

In [6]:
df_train.tail()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
1995,2014-05-06 08:50:00.000000137,25.83,2014-05-06 08:50:00+00:00,-73.947258,40.783930,-73.881300,40.764862,1
1996,2009-06-08 22:02:00.00000080,6.50,2009-06-08 22:02:00+00:00,-73.991340,40.749737,-73.986132,40.736238,1
1997,2011-07-25 08:51:00.000000198,10.50,2011-07-25 08:51:00+00:00,-73.964843,40.761590,-73.981250,40.750072,1
1998,2011-10-01 19:56:23.0000003,8.90,2011-10-01 19:56:23+00:00,-74.006047,40.741384,-73.976265,40.756703,1
1999,2015-02-01 02:25:02.0000001,7.50,2015-02-01 02:25:02+00:00,-73.991776,40.726189,-73.987656,40.739204,5